:root {
    --color-main: rgb(24, 134, 30);
    --color-secondary: rgb(0, 0, 0);
    --color-tertiary: rgb(235, 235, 235);
}

body {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    margin: 0px;
    padding: 0px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px, 100px, 100px, 50px;
    grid-template-areas: 
    "header header"
    "search information"
    "search five-day"
    "footer footer";
    
    grid-gap: 5px, 5px;
}

header {
    grid-area: header;
    text-align: center;
    background-color: var(--color-main);
    color: var(--color-secondary);
}

h2, h3, h4, h5, h6 {
    color: var(--color-main);
}

button {
    background-color: var(--color-main);
    color: var(--color-tertiary);
}

.search-history-section {
    grid-area: search;
    border: 30px, solid, var(--color-main);
}

.location-information {
    grid-area: information;
    border: 30px, solid, var(--color-main);
    color: var(--color-secondary);
}

.five-day-forecast {
    grid-area: five-day;
    border: 30px, solid, var(--color-main);
    grid-template-columns: repeat(5, 1fr);
}

.day-div {
    background-color: var(--color-secondary);
    height: 50px;
    width: 100%;
}

footer {
    grid-area: footer;
    border: 3px, solid, var(--color-main);
}