:root {
    --color-main: rgb(24, 134, 30);
    --color-secondary: rgb(0, 0, 0);
    --color-tertiary: rgb(235, 235, 235);
}

body {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    margin: 0px;
    padding: 0px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px, 100px, 100px, 50px;
    grid-template-areas: 
    "header header"
    "search information"
    "search five-day"
    "footer footer";
    
    grid-gap: 5px, 5px;
}

header {
    grid-area: header;
    text-align: center;
    background-color: var(--color-main);
    color: var(--color-secondary);
}

h2, h3, h4, h5, h6 {
    color: var(--color-main);
}

button {
    background-color: var(--color-main);
    color: var(--color-tertiary);
}

.search-history-section {
    grid-area: search;
    border: 30px, solid, var(--color-main);
}

.location-information {
    grid-area: information;
    color: var(--color-secondary);
}
/* 
    5 DAY FORECAST
*/
.five-day-forecast {
    grid-area: five-day;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px;
    grid-template-areas:
    "five-day-header"
    "day-divs";
}
.five-day-header {
    grid-area: five-day-header;
}
.day-div-grid {
    display: grid;
    grid-area: day-divs;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "day-div-0 day-div-1 day-div-2 day-div-3 day-div-4";
    column-gap: 5px;
}
#day-div-0 {
    grid-area: day-div-0;
}
#day-div-1 {
    grid-area: day-div-1;
}
#day-div-2 {
    grid-area: day-div-2;
}
#day-div-3 {
    grid-area: day-div-3;
}
#day-div-4 {
    grid-area: day-div-4;
}
.day-divs {
    color: var(--color-main);
    height: auto;
    width: 100%;
    border: 2px solid var(--color-main);
    border-radius: 25px;
    padding: 10px;
}





footer {
    grid-area: footer;
    border: 3px, solid, var(--color-main);
}